# Private key for the account that will deploy the contracts
# IMPORTANT: Never commit your actual .env file with real private keys to version control!
# Format: 0x followed by 64 hexadecimal characters

# Rayls Devnet
RPC_URL=
CHAIN_ID=

# Wallets 
PRIVATE_KEY_OWNER=PASTE_OWNER_PRIVATE_KEY_HERE
PRIVATE_KEY_USER_A=PASTE_USER_A_PRIVATE_KEY_HERE
PRIVATE_KEY_USER_B=PASTE_USER_B_PRIVATE_KEY_HERE
